body{
    background-color: rgb(39, 39, 39);
    color: white;
}

.fondo{
    background-color: rgb(39, 39, 39);
    color: white;
}

.fondo-tap{
    background-color: rgb(70, 68, 68);
    color: rgb(115, 222, 255);
}

.letra{
    color: white;
}

.tablaCal{
    margin-left: 54px;
    text-align: center;
    width: 15%;

}